<form action="{% url 'invoice:new' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Create a new invoice.</h1></legend>
        <label for="client">Choose a client:</label>
        <select id="client" name="client">
            {% for client in clients %}
                <option value={{ client.id }}>{{ client.name }}</option>
            {% endfor %}
        </select><br>
        <label for="due_date">Due Date</label>
        <input type="date" id="due_date" name="due_date"><br>
    </fieldset>
    <br>
    <fieldset>
        <legend><h1>Items</h1></legend>
        <table id="items" name="items">
            <tr>
                <td>#</td>
                <td>Description</td>
                <td>Hours</td>
                <td>Rate</td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <input type="text" name="item-1-description" id="item-1-description">
                </td>
                <td>
                    <input type="number" name="item-1-hours" id="item-1-hours">
                </td>
                <td>
                    <input type="number" name="item-1-rate" id="item-1-rate">
                </td>
            </tr>
        </table>
    </fieldset>
    <input type="submit" value="Submit">
</form>