{% extends "base.html" %}
{% block content %}
    <table>
        <tr>
            <th>Number</th>
            <td>{{ invoice.number }}</td>
        </tr>
        <tr>
            <th>Client</th>
            <td class="clickable" onclick="window.location='{% url 'client:view' invoice.client.id %}';">{{ invoice.client.name }}</td>
        </tr>
        <tr>
            <th>Total Amount Billed</th>
            <td>${{ total }}</td>
        </tr>
        <tr>
            <th>Total Amount Paid</th>
            <td>${{ paid }}</td>
        </tr>
        <tr>
            <th>Total Amount Owed</th>
            <td>${{ owed }}</td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td>{{ invoice.created_date }}</td>
        </tr>
        <tr>
            <th>Due Date</th>
            <td>{{ invoice.due_date }}</td>
        </tr>
    </table>
    {% if items %}
        <br>
        <a>Items</a>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Rate</th>
                    <th>Hours</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.rate }}</td>
                        <td>{{ item.hours }}</td>
                        <td>{{ item.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if payments %}
        <br>
        <table>
            <caption>Payments</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Client</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr class="clickable" onclick="window.location='{% url 'payment:view' payment.id %}';">
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.invoice.client.name }}</td>
                        <td>{{ payment.amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <a href="{% url 'invoice:pdf' invoice.number %}">Generate PDF</a>
{% endblock %}