<label for="number">Invoice Number</label>
<a id="number" name="number">{{ invoice.number }}</a><br>
<label for="client">Client</label>
<a id="client" name="client">{{ invoice.client }}</a><br>
<label for="total">Total Amount</label>
<a id="total" name="total">${{ invoice.total }}</a><br>
<label for="created_date">Date Created</label>
<a id="created_date" name="created_date">{{ invoice.created_date }}</a><br>
<label for="due_date">Due Date</label>
<a id="due_date" name="due_date">{{ invoice.due_date }}</a><br>
