{% extends "base.html" %}
{% block content %}
    <table>
        <tbody>
            <tr>
                <th>Client Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Address Line 1</th>
                <td>{{ client.address_line1 }}</td>
            </tr>
            <tr>
                <th>Address Line 2</th>
                <td>{{ client.address_line2 }}</td>
            </tr>
            <tr>
                <th>Person of Contact</th>
                <td>{{ client.person_of_contact }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ client.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Total Amount Billed</th>
                <td>${{ billed }}</td>
            </tr>
            <tr>
                <th>Total Amount Paid</th>
                <td>${{ paid }}</td>
            </tr>
            <tr>
                <th>Total Amount Owed</th>
                <td>${{ owed }}</td>
            </tr>
        </tbody>
    </table>
    {% if invoices %}
        <br>
        <table>
            <caption>Invoices</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr class="clickable" onclick="window.location='{% url 'invoice:view' invoice.number %}';">
                        <td>{{ invoice.number }}</td>
                        <td>${{ invoice.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}