<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% block title %}
            <title>Your Mom's Haus</title>
        {% endblock %}
        <link rel="stylesheet" href="{% static 'base.css' %}">
    </head>
    <body>
        <div class="root-container" id="root-container">
            <header class="header" id="header">
                {% block header %}
                    RetroBiz
                {% endblock %}
            </header>
            <div class="body-container" id="body-container">
                {% block sidebar %}
                    <div class="sidebar" id="sidebar">
                        {% include "sidebar.html" %}
                    </div>
                {% endblock %}
                <div class="content" id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
