<div class="sidebar-button clickable" id="sidebar-button-client" onclick="window.location='{% url 'client:index' %}';">
    Client
</div>
<div class="sidebar-button clickable" id="sidebar-button-invoice" onclick="window.location='{% url 'invoice:index' %}';">
    Invoice
</div>
<div class="sidebar-button clickable" id="sidebar-button-payment" onclick="window.location='{% url 'payment:index' %}';">
    Payment
</div>
<div class="sidebar-button clickable" id="sidebar-button-payment" onclick="window.location='{% url 'company:index' %}';">
    Company Info
</div>