{% extends "base.html" %}
{% block content %}
    <table>
        <tbody>
            <tr>
                <th>Payment ID</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr class="clickable" onclick="window.location='{% url 'invoice:view' payment.invoice.number %}';">
                <th>Invoice</th>
                <td>{{ payment.invoice.number }}: {{ payment.invoice.client.name }} - ${{ payment.invoice.total }}</td>
            </tr>
            <tr>
                <th>Total Amount</th>
                <td>${{ payment.amount }}</td>
            </tr>
            <tr>
                <th>Transaction ID</th>
                <td>{{ payment.transaction_id }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ payment.service }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ payment.timestamp }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
