<label for="id">Payment ID</label>
<a id="id" name="id">{{ payment.id }}</a><br>
<label for="invoice">Invoice</label>
<a id="invoice" name="invoice">{{ payment.invoice.number }}: {{ payment.invoice.client.name }} - ${{ payment.invoice.total }}</a><br>
<label for="amount">Total Amount</label>
<a id="amount" name="amount">${{ payment.amount }}</a><br>
<label for="transaction_id">Transaction ID</label>
<a id="transaction_id" name="transaction_id">{{ payment.transaction_id }}</a><br>
<label for="service">Service</label>
<a id="service" name="service">{{ payment.service }}</a><br>
<label for="timestamp">Timestamp</label>
<a id="timestamp" name="timestamp">{{ payment.timestamp }}</a><br>